<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Numpy
2. Pytorch
3. Matplotlib

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

| Data Science Tools |
|:------------------:|
|        GIT         |
|      BootStrap     |
|      Notepad++     |

<H3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

**Objectives:**

- list data science languages
- list data science tools
- Exectute basic arithmatic expressions

<h2>Author<H2>

Joey Minarsich